        <footer id="footer">
            <a href="https://www.facebook.com/shiorifamily/" class="sns"><span class="fa-facebook-square"></span></a>
            <nav class="footerNav">
                <ul class="menu">
                    <li class="menu__item">
                        <a href="#">メルマガ登録</a>
                    </li>
                    <li class="menu__item">
                        <a href="">サイズガイド</a>
                    </li>

                    <li class="menu__item">
                        <a href="#">よくある質問</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">初めてのお客様</a>
                    </li>

                    <li class="menu__item">
                        <a href="#">お問い合わせ</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">プラバシーポリシー</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">ヘルプ</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">利用規約</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">特許商取引法</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">会社概要</a>
                    </li>
                </ul>
            </nav>

            <p class="copyright">
                <small class="copyright__txt">© TSU COUNTRY CLUB</small>
            </p>
        </footer>