        <main>
            <p class="brandLogo">
                <img
                    src="{{'pageLogo-sp.png' | asset_img_url : '2000x'}}"
                    alt="津カントリー倶楽部"
                />
            </p>
            <section class="guidance">
                <div class="guidance__ttl">
                    <h2 class="guidance__ttl--en">Guidance</h2>
                    <h3 class="guidance__ttl--ja">ご案内</h3>
                </div>
                <div class="guidance__img"></div>
                <h1 class="heading-lv1">見出し（H1）</h1>
                <article class="heading-lv2__wrap">
                    <h2 class="heading-lv2">見出し（H2）</h2>
                    <p class="guidance__text">
                        ここにテキストここにテキストここにテキストここにテキストここにテ
                        ここにテキストここにテキストここにテキストここにテキストここにテ
                        ここにテキストここにテキストここにテキストここにテキストここにテ
                        ここにテキストここにテキストここにテキストここにテキスト
                    </p>
                </article>
                <article class="heading-lv2__wrap">
                    <h2 class="heading-lv2">見出し（H2）</h2>
                    <p class="guidance__text">
                        ここにテキストここにテキストここにテキストここにテキストここにテ
                        ここにテキストここにテキストここにテキストここにテキストここにテ
                        ここにテキストここにテキストここにテキストここにテキストここにテ
                        ここにテキストここにテキストここにテキストここにテキスト
                    </p>
                </article>
            </section>
            <section class="eventInfo guidanceInfo">
                <div class="eventInfo__inner">
                    <ul class="cards">
                        <li class="cards__item">
                            <a href="" class="card">
                                <p class="card__ttl">「瀬戸内国際芸術祭」。</p>
                                <figure class="card__figure">
                                    <img
                                        class="card__img"
                                        src="{{'loge-villa.jpg' | asset_img_url: '2000x'}}"
                                        alt="津カントリー倶楽部　イベント情報"
                                    />
                                </figure>
                                <p class="card__link">View more</p>
                            </a>
                        </li>
                        <li class="cards__item">
                            <a href="" class="card">
                                <p class="card__ttl">「瀬戸内国際芸術祭」。</p>
                                <figure class="card__figure">
                                    <img
                                        class="card__img"
                                        src="{{'loge-villa.jpg' | asset_img_url: '2000x'}}"
                                        alt="津カントリー倶楽部　イベント情報"
                                    />
                                </figure>
                                <p class="card__link">View more</p>
                            </a>
                        </li>
                        <li class="cards__item">
                            <a href="" class="card">
                                <p class="card__ttl">「瀬戸内国際芸術祭」。</p>
                                <figure class="card__figure">
                                    <img
                                        class="card__img"
                                        src="{{'loge-villa.jpg' | asset_img_url: '2000x'}}"
                                        alt="津カントリー倶楽部　イベント情報"
                                    />
                                </figure>
                                <p class="card__link">View more</p>
                            </a>
                        </li>
                        <li class="cards__item">
                            <a href="" class="card card__item4">
                                <p class="card__ttl">「瀬戸内国際芸術祭」。</p>
                                <figure class="card__figure">
                                    <img
                                        class="card__img"
                                        src="./assets/images/TOP/loge-villa.jpg"
                                        alt="津カントリー倶楽部　イベント情報"
                                    />
                                </figure>
                                <p class="card__link">View more</p>
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="btn eventInfo__btn guidance__btn--pc"
                        >イベント情報一覧</a
                    >
                </div>
            </section>
            <a href="event-info.html" class="btn guidance__btn1"
                >イベント情報一覧</a
            >
            <a href="index.html" class="btn guidance__btn2">TOPページ</a>
        </main>